# =============================
# 🚫 DATA FILES
# =============================

data/
lake/
*.csv
*.parquet
*.xlsx

# =============================
# 🚫 DBT BUILD ARTIFACTS
# =============================

dbt/target/
dbt/logs/
dbt/dbt_packages/

# =============================
# 🚫 NOTEBOOKS
# =============================

.ipynb_checkpoints/

# =============================
# 🚫 CACHE & TEMP FILES
# =============================

__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log

# =============================
# 🚫 ENVIRONMENTS
# =============================

.env
.venv/
env/
venv/
odap_env/

# =============================
# 🚫 OS FILES
# =============================

.DS_Store
Thumbs.db

# =============================
# 🚫 IDE / EDITOR CONFIGS
# =============================

.vscode/
.idea/

# =============================
# 🚫 AIRFLOW LOCAL FILES
# =============================

airflow/*

!airflow/dags/
!airflow/dags/**/*.py

airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/airflow-webserver.pid
airflow/logs/

# =============================
# 🚫 OPTIONAL (khuyên thêm)
# =============================

*.bak
*.swp
