# =============================
# 🚫 DATA FILES
# =============================

# Ignore dữ liệu raw và output
data/
lake/
*.csv
*.parquet
*.xlsx

# =============================
# 🚫 NOTEBOOKS
# =============================

# Ignore notebook checkpoints
.ipynb_checkpoints/

# =============================
# 🚫 CACHE & TEMP FILES
# =============================

__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log

# =============================
# 🚫 ENVIRONMENTS
# =============================

.env
.venv/
env/
venv/
.venv/*
.envrc
*.env

# =============================
# 🚫 OS FILES
# =============================

.DS_Store
Thumbs.db

# =============================
# 🚫 IDE / EDITOR CONFIGS
# =============================

.vscode/
.idea/
*.swp
*.swo

# =============================
# 🚫 AIRFLOW LOCAL FILES
# =============================

# Ignore toàn bộ nội dung trong airflow
airflow/*

# ✅ Nhưng giữ lại DAGs (để có thể push lên GitHub)
!airflow/dags/
!airflow/dags/**/*.py

# Ignore các file Airflow runtime local
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/airflow-webserver.pid
airflow/logs/
