pandas==2.2.2
numpy==1.26.4
pyarrow==17.0.0
sqlalchemy==1.4.52          # was 2.0.32; Airflow 2.10.2 needs <2.0
psycopg2-binary==2.9.9
dbt-core==1.8.6
dbt-postgres==1.8.2
apache-airflow==2.10.2
pyspark==3.5.1
delta-spark==3.2.0
hdfs==2.7.3
s3fs==2024.3.1
deltalake==0.16.3
python-dotenv==1.0.1
requests==2.32.3
